# -- Editor------------

# sublimetext
/*.sublime-project
*.sublime-workspace

# Linux
.*
!.gitignore
!.htaccess
*~

# Carpeta de salida
/.www

# Carpeta de paquetes Bower
/bower_components

# Carpeta de paquetes npm
/node_modules

archive
node_modules
package-lock.json
