{% extends "layout.html" %}

{% block stylesheet %}
    {{ super() }}
    <link rel="stylesheet" href="js/vegas/vegas.min.css">
{% endblock %}

{% block content %}

    <!-- Header Carousel -->
{#     <header id="myCarousel" class="carousel slide">
		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>        
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/image1.jpg?&text=First slide" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <p>Vení a disfrutar del mejor lugar en las Sierras de Calamuchita</p>
                </div>              
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/image2.jpg?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <p>Vení a disfrutar del mejor lugar en las Sierras de Calamuchita</p>
                </div>              
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/image3.jpg?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <p>Vení a disfrutar del mejor lugar en las Sierras de Calamuchita</p>
                </div>              
            </div>
        </div>
		  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Atras</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Siguiente</span>
		  </a>
		</div>    
	</header>
 #}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="pb-2 mt-4 mb-2 border-bottom">
                    <h1 class="display-5" >
                        <span style="font-family: 'Quicksand', sans-serif;font-size:xx-large;color:white;font-weight: 800">
                            Bienvenidos a Cabañas Siete Colores
                        </span>
                    </h1>
                </div>
                <div class="media">
                    <img class="mr-3" src="images/logo.png" height="200" width="200" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 style="font-family: 'Quicksand', sans-serif;color:white;font-weight: 800">En las sierras de Calamuchita podes encontrar el mejor lugar para tu descanso...
                        </h5>
                    </div>
                </div>
            </div>     
        </div>
        <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <div class="pb-2 mt-4 mb-2 border-bottom">
                    <h2 class="text-portada">
                        Servicios
                    </h2>
                </div>            
            </div>
            <div class="col-md-4">
                <div class="media mt-2">
                    <div class="float-left">
                        <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x icon-services"></i>
                              <i class="fas fa-bed fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading mt-2 ml-2 text-portada">Camas King</h5>
                    </div>
                </div>
                <div class="media mt-2">
                    <div class="float-left">
                        <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x icon-services"></i>
                              <i class="fas fa-female fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading mt-2 ml-2 text-portada">Ropa Blanca</h5>
                    </div>
                </div>
                <div class="media mt-2">
                    <div class="float-left">
                        <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x icon-services"></i>
                              <i class="fas fa-car fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading mt-2 ml-2 text-portada">Cocheras</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media mt-2">
                    <div class="float-left">
                        <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x icon-services"></i>
                              <i class="fas fa-snowflake fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading mt-2 ml-2 text-portada">Aire Condicionado</h5>
                    </div>
                </div>
                <div class="media mt-2">
                    <div class="float-left">
                        <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x icon-services"></i>
                              <i class="fas fa-tv fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading mt-2 ml-2 text-portada">Direct TV</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media mt-2">
                    <div class="float-left">
                        <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x icon-services"></i>
                              <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading mt-2 ml-2 text-portada">Microondas</h5>
                    </div>
                </div>
                <div class="media mt-2">
                    <div class="float-left">
                        <span class="fa-stack fa-lg">
                              <i class="fas fa-circle fa-stack-2x icon-services"></i>
                              <i class="fab fa-gripfire fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading mt-2 ml-2 text-portada">Calefaccion</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->        
    </div>

{% endblock %}
{% block js %}
	{{ super() }}
    <script src="js/vegas/vegas.min.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
        $("#example, body").vegas({
            slides: [
                { src: "images/image1.jpg" },
                { src: "images/image2.jpg" },
                { src: "images/image4.jpg" },
                { src: "images/image5.jpg" }
            ],
            transition: 'fade2',
            overlay: 'js/vegas/overlays/02.png'
        });
    </script>
{% endblock %}