<!-- Footer -->
<footer class="fixed-bottom" style="background-color: #9b8172;">
	<div class="container pt-3">
		<div class="row justify-content-md-center">
			<div class="col">
				<p class="m-0 text-center">
					<i class="fas fa-map-marker" aria-hidden="true"></i>  Santa Rosa de Calamuchita, Cordoba -  
					<i class="fas fa-mobile" aria-hidden="true"></i>  +54 358-⁠⁠⁠155074316
				</p>
			</div>
		</div>
		<div class="row">
			<p class="m-0 pt-5 text-center font-italic text-secondary mx-auto" style="font-size: small;">Copyright © 2018 Design: Cristian J. Tosco</p>
		</div>
	</div>
</footer>