<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #D0D3D4;">
  <a class="navbar-brand hvr-grow" href="#">
    <img src="images/logo.png" width="90" height="90" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link hvr-shrink text-dark" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-shrink text-dark" href="#">Cabañas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-shrink text-dark" href="#">Promo/Tarifas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-shrink text-dark" href="#">Contacto</a>
      </li>
    </ul>
  </div>
</nav>